{% extends 'base.html' %}
{% block content %}
 
<h1>{{user.username}}'s Previous Workouts!</h1>
<br>
{% for workout in workouts %}
  <div class="row">
    <div class="col s6 offset-s.5">  
      <div class="card teal-text center-align">
    <a href="{% url 'detail' workout.id %}"> 
    <div class="card-content">
      <p>On {{ workout.date }} I crushed some {{workout.name}} </p>
      <p>Description: {{ workout.description }}</p>
    </div>
  </div>
</div>
   </a>    
  </div>
{% endfor %}
<footer>
  <div class="left"><a class="btn" href="{% url 'diwo' %}">Did I Work Out?</a></div>
</footer>
{% endblock %}