{% extends 'base.html' %}
{% block content %}

<h1>Did I Work Out Today?</h1>

{% for workout in workouts %}
{% if workout.worked_out_today %}

<div class="card-panel teal-text center-align">{{user.username}} absofruitly did some {{workout.name}} !! </div>
{% else %}
<div class="card-panel red-text center-align">{{user.username}} needs to work on it!</div>
{% endif %}
<br>
  <div class="card">
    <a href="{% url 'detail' workout.id %}"></a>  
    <div class="card-content">
      <span class="card-title">{{ workout.name }}</span>
      <p>When: {{ workout.date }}</p>
      <p>Description: {{ workout.description }}</p>
    </div>
   </a>    
  </div>
{% endfor %}

{% endblock %}